<!-- This is the template which is shown as the front end to the user in service 1  -->

<h1>Pokemon Card Generator !</h1>

<h2> Refresh page to get a new pokemon card</h2>

<p>
   You got {{ pokemon }} with the PSA of {{ psa }}

    <h3>You have a price evaluation of £{{ evaluation }}</h3>


</p><br><br>
<p>
    <!-- Creating a for loop to allow to show all the values stored in the database -->
    {% for pokemon in all_pokemon %}
    {{ pokemon.pokemon_name }} :{{ pokemon.pokemon_psa }} £ {{ pokemon.pokemon_evaluation }} 
    <br>
    {% endfor %}
    <br>
</p>
<br>

